body{background-color:red;}
header{background-color:green;}
main{background-color:blue;}
section{background-color:orange;}
nav{ background-color:yellow; }
footer{background-color:greenyellow;}
article{background-color:purple;}
