body {background-color: cornflowerblue;}

  main {
max-width:960px;
margin-right:auto;
margin-left:auto;
height:400px;
background-color:aliceblue;

    display:flex;

    flex-wrap: nowrap;
}
.container{background-color:gold;height: 100px;width: 100px;}
